#contact {
  // background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  // -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  // clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  background-color:#0099ff;
  padding: 0rem 0 10rem 0;
  border: solid 1px #0099ff;
  // margin-bottom: -1px;
  margin-top:-1rem;
  color: $white-color;

  @include respond(tab-land) {
    padding-bottom: 10rem 0;
    clip-path: none;
    margin-top: 0rem;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top:0rem;
    padding-bottom: 0rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
